.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #2f3136;
  width: 100%;
}

.chatHeaderLeft {
  display: flex;
  align-items: center;

  .chatHeaderHash {
    margin-right: 10px;
    font-size: 24px;
  }

  h3 {
    color: white;
  }
}

.chatHeaderRight {
  display: flex;
  align-items: center;
  color: #7b7c85;

  .chatHeaderSearch {
    display: flex;
    align-items: center;
    background-color: #40444b;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;

    input {
      border: none;
      background-color: transparent;
      color: white;
      margin-left: 10px;
    }

    input:focus {
      outline: none;
      color: white;
    }
  }
}