.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #36393f;
    color: #dcddde;

    .chatInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #2f3136;
        border-top: 1px solid #202225;
        
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        

            input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #40444b;
                color: #dcddde;
            }
            .chatInputButton {
                margin-left: 10px;
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #7289da;
                color: #dcddde;
                cursor: pointer;
            }
        

       
    }
    .chatInputIcons {
        .MuiSvgIcon-root {
            margin-right: 10px;
            cursor: pointer;
        }
    }

}

