.sidebarChannel {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #2f3136;
    color: white;
  }

  h4 {
    display: flex;
    align-items: center;
    color: #96989d;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .sidebarChannelHash {
    font-size: 22px;
    padding-right: 10px;
  }

  &.selected {
    background-color: #393c43;
    h4 {
      color: white;
    }
  }
}